<div class="row">
    <header>
        <div class="col-md-7">
            <h1>
                Результаты Интервью #3456
            </h1>
        </div>
    </header>
</div>
<br/>
<h3>Общая информация</h3>
  <div class="row">
    <div class="col-md-12">Количество правильных ответов: {{score data.tasks type="right"}}</div>
    <div class="col-md-12">Количество неправильных ответов: {{score data.tasks type="wrong"}}</div>
    <div class="col-md-12">Количество тестов без ответов: {{score data.tasks type="any"}}</div>
  </div>
<hr/>
<h3>Результаты выполненых заданий</h3>
<table class="table table-bordered table-striped table-hover">
  <tr>
      <th>#</th>
      <th>Название теста</th>
      <th>Ответ пользователя</th>
      <th>Результат выполнения</th>
  </tr>
  {{#each data.tasks}}
    <tr>
      <td>{{this.number}}</td>
      <td>{{taskName}}</td>
        <td>
          {{#if variantsOfSolutions}}
              {{#each taskSolution}}
                {{lookup ../variantsOfSolutions this}}
              {{/each}}

          {{else}}
            {{taskSolution}}
          {{/if}}
        </td>
      <td>
        {{#ifvalue isSolved value=-1}}не пробывал{{/ifvalue}}
        {{#ifvalue isSolved value=0}}ошибка{{/ifvalue}}
        {{#ifvalue isSolved value=1}}решено{{/ifvalue}}
      </td>
    </tr>
  {{/each}}
</table>
