<div class="row">
    <div class="col-md-12">
        <h2>Problem #{{id}}: {{name}}</h2>
    </div>
</div>

<div class="row descriptionBlock">
    <div class="col-md-3 title">Problem description</div>
    <div class="col-md-9 description">{{description}}</div>
</div>
<hr/>
<div class="row answerBlock {{type}}">
    <div class="col-md-3 title">
        <div>Answer</div>
        <span class="success notification">is correct! Go to next one.</span>
        <span class="error notification">is wrong! Try again.</span>
    </div>
    <div class="col-md-9 answers">
      {{#ifvalue type value="string"}}
        <textarea class="col-md-12 form-control"  rows="10">{{userSolution}}</textarea>
      {{/ifvalue}}

      {{#ifvalue type value="evaluate"}}
        <textarea class="col-md-12 form-control" rows="10">{{userSolution}}</textarea>
      {{/ifvalue}}

      {{#ifvalue type value="select"}}
        {{#each variantsOfSolutions}}
          <div class="item">
              <input type="radio" name="select" value="{{@index}}"/> <label for="">{{this}}</label>
          </div>
        {{/each}}
      {{/ifvalue}}

      {{#ifvalue type value="multiSelect"}}
        {{#each variantsOfSolutions}}
          <div class="item">
              <input type="checkbox" name="multiSelect" value="{{@index}}"/>  <label for="">{{this}}</label>
          </div>
        {{/each}}
      {{/ifvalue}}
    </div>
</div>


