<div class="row">
    <div class="col-md-12">
        <h2>Task #{{number}}: {{taskName}}</h2>
    </div>
</div>

<div class="row descriptionBlock">
    <div class="col-md-3 title">Task description</div>
    <div class="col-md-9 text">{{taskDescription}}</div>
</div>
<hr/>
<div class="row answerBlock {{taskType}}">
  {{#ifvalue taskType value="string"}}
      <div class="col-md-3 title">Answer</div>
      <div class="col-md-9 text">
          <textarea class="col-md-12"  rows="10">{{taskSolvetion}}</textarea>
      </div>
  {{/ifvalue}}

  {{#ifvalue taskType value="evaluate"}}
      <div class="col-md-3 title">Answer</div>
      <div class="col-md-9 text">
          <textarea class="col-md-12" rows="10">{{taskSolvetion}}</textarea>
      </div>
  {{/ifvalue}}

  {{#ifvalue taskType value="select"}}
    <div class="col-md-3 title">Answer</div>
    <div class="col-md-9 text">
      {{#each variantsOfSolutions}}
        <div>
            <input type="radio" name="select" value="{{@index}}"/> <label for="">{{this}}</label>
        </div>
      {{/each}}
    </div>
  {{/ifvalue}}

  {{#ifvalue taskType value="multiSelect"}}
    <div class="col-md-3 title">Answer</div>
    <div class="col-md-9 text">
      {{#each variantsOfSolutions}}
        <div>
            <input type="checkbox" name="multiSelect" value="{{@index}}"/>  <label for="">{{this}}</label>
        </div>
      {{/each}}
    </div>
  {{/ifvalue}}

</div>

<div class="success notification"><a href="http://ain.ua/tag/peremoga">#перемога</a></div>
<div class="error notification"><a href="http://ain.ua/tag/zrada">#зрада</a></div>
